.detail {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 10px;
}

.name {
  display: flex;
  align-items: center;
}

.infoMusic {
  color: #dadada;
  margin-top: 10px;
}

.artis {
  color: #a6a5a5;
}
